@import url('~leaflet/dist/leaflet.css');
.leaflet-container {
  width: 100%;
  height: 100vh;
}
.MapWithPolygons {
  /* Add styles for the outer container */
  /* For example: */
  width: 100%;
  height: 500px;
}

.map-container {
  /* Add styles for the map container */
  /* For example: */
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Add more styles as needed */
